DART_API_KEY=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
GEMINI_API_KEY=
NOTION_API_KEY=
NOTION_DB_STOCKS_ID=
NOTION_DB_APPEARANCES_ID=
NOTION_PAGE_URL=
KAKAO_REST_API_KEY=
KAKAO_REFRESH_TOKEN=
GH_PAT=
GITHUB_REPO=username/repo-name
